#content h1 {
    text-align: center;
    padding: 5% 0;
}
#content {
    padding: 0% 10%;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: #ADDFB3;
}
.infoLine {
    padding: 3% 5%;
    margin: 0 3%;
    text-align: center;
}
.infoElement {
    padding: 3% 5%;
    text-align: left;
}
.postCont{
    border-style: solid;
    border-width: 2px;
  }
.buttons {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}
.backbtn{
    padding: 3% 15% 0 ;
}
.backbtn a {
    text-decoration: none;
    padding: 8px 20px;
    font-size: 1.2em;
}
h1 {
    text-align: center;
    padding: 2% 0;
}